@import "@/theme/gvars.scss";

html,body,#root {
  position:absolute;
  top:0;
  left:0;
  min-height:100%;
  width:100%;
  box-sizing: border-box;
  overflow-x:hidden;
  z-index: 0;
  padding:0;
  margin:0;

  background:#ffffff;
  color:#111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
