@import "@/theme/gvars.scss";

.FormBtn {
  display: inline-block;
  margin-top: 20px;
  font-family: $button-font;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 4px, 0px, 4px, 0px;
  border: none;
  border-radius: 8px;
  background-color: rgb(14, 44, 93);
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(27, 87, 146);
  }
  &:active {
    background-color: #000;
    color: #fff;
  }
  &:global(.small) {
    font-size: 12px;
    letter-spacing: 2.57px;
    padding: 8px 32px 7px 32px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
